    body {
      background-color: lightblue;
      font-size: 150%;
    }
    
    .myClass {
      background-color: gray;
      color: blue;
    }
    
    .classClass {
      text-align: center;
      color: green;
      background-color: yellow;
      border: pink 15px solid;
      font-size: 30px;
    }
    
    #squishyPugs {
      color: teal;
    }